<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="leeyi45.acmun.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <leeyi45.acmun.Properties.Settings>
            <setting name="GSLSpeakTime" serializeAs="String">
                <value>00:01:30</value>
            </setting>
            <setting name="Maj50Plus1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Maj67Plus1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UnmodSpeakTime" serializeAs="String">
                <value>00:05:00</value>
            </setting>
            <setting name="ModSpeakTime" serializeAs="String">
                <value>00:01:00</value>
            </setting>
            <setting name="ModSpeakTotal" serializeAs="String">
                <value>00:10:00</value>
            </setting>
            <setting name="UnmodSummaryTime" serializeAs="String">
                <value>00:01:00</value>
            </setting>
            <setting name="SaveSpeakTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveMotions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrackDebate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebateSpeakCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DebateSpeakTime" serializeAs="String">
                <value>00:01:30</value>
            </setting>
            <setting name="ResoReadTime" serializeAs="String">
                <value>00:03:00</value>
            </setting>
        </leeyi45.acmun.Properties.Settings>
    </userSettings>
</configuration>